<div class="container">
  <div class="jumbotron">
    <h1>Skills Database</h1>
    <p>Organize, explore and manage your organizations skills at one place</p>
    <p><a class="btn btn-primary btn-lg">Learn more</a></p>
  </div>
</div>
