<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body class="container">

    <header>
        <% include ../partials/header %>
    </header>

    <main>
        <div class="container">
            <div class="row">
                <div class="col col-lg-4" class="float-right"><a class="btn btn-link" href="/projects/new">CREATE NEW</a></div>
                
            </div>
        </div>
    </main>

    <footer>
        <% include ../partials/footer %>
    </footer>
    
</body>
</html>
