<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <title>Skillsearch</title>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootswatch/3.3.5/paper/bootstrap.min.css">
  <link rel="stylesheet" href="/styles/main.css">
  <script src="https://code.jquery.com/jquery-1.10.2.min.js"></script>
  <script src="/vendor/bootstrap.min.js"></script>
</head>

<body>
  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-2">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">Quadrant 4</a>
      </div>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/staff">Staff</a></li>
        <li><a href="/skills">Skills</a></li>
      </ul>
    </div>
  </nav>
  {{{body}}}
</body>

</html>
